/* VeritaScribe App Styles */

.veritascribe-app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.veritascribe-app .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.veritascribe-app .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.veritascribe-app .logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.veritascribe-app {
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

.veritascribe-app {
  @media (prefers-reduced-motion: no-preference) {
    .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
}

.veritascribe-app .card {
  padding: 2em;
}

.veritascribe-app .read-the-docs {
  color: #888;
}
